.group {
    width: $xl-width;
    padding: 0.2rem;
}

label {
    width: 30%;
    font-size: $s-size;
    font-weight: 600;
    padding: $xs-padding 0;
}

.input {
    padding: $xs-padding;
    border: $s-border-radius solid $secondary-color;
    border-radius: $m-border-radius;
    width: $xl-width;
    outline-color: $secondary-color;

    &:focus {
        border: $s-border-radius solid $secondary-color;
    }
}