// Colors
$primary-color: #015fbc;
$secondary-color: #dadada;
$tertiary-color: #00b9ff;
$warning-color: #e39508;
$danger-color: #c60808;
$success-color: #757070;
$light-color: #fff;
$gray-color: #c5b9b9;

// fonts
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size:4.8rem;

$md-breakpoint: 46rem;
$lg-breakpoint: 48rem;
$xl-breakpoint: 58rem;

// width
$xxs-width: 14rem;
$xs-width: 25rem;
$s-width: 30rem;
$c-width: 46rem;
$m-width: 80rem;
$lg-width: 90rem;
$xl-width: 100%;

// padding
$xs-padding: 0.5rem;
$s-padding: 1rem;
$m-padding: 2rem;

// margin
$xs-margin: 0.5rem;
$s-margin: 1rem;
$m-margin: 2rem;

// border-radius
$xs-border-radius: 0.5px;
$s-border-radius: 1px;
$m-border-radius: 2px;
$l-border-radius: 3px;